.vscode/
Python Django Full.Stack Web Developer/
beston/
django-docs-2.2-en/
for_test/
gitfile

myblog.zip
new/
parctice.py
poll.zip
poll/
q-1.py
svg-login-form.zip
svg-login-form/
venv/

billy.zip
django-blog/chat/static/chat/bootstrap.min.js
django-blog/chat/static/chat/jquery-3.3.1.min.js
django-blog/chat/static/chat/popper.min.js
former projects/
**/__pycache__/
**/migrations
billy/database/
billy/db.sqlite3



