.vscode/
venv/

billy.zip
django-blog/chat/static/chat/bootstrap.min.js
django-blog/chat/static/chat/jquery-3.3.1.min.js
django-blog/chat/static/chat/popper.min.js
former projects/
**/__pycache__/
**/migrations
billy/database/
db.sqlite3



