<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style> 
    div{height: 100px;
            line-height: 50px;}
        h1{
            /* display:flex;justify-content:center;align-items:center; */
            text-align: center;
            margin: 0;
            padding-bottom: 30px;
            padding-top: 30px;
            
            
        }
    </style>
</head>
<body>
    <div>
    <h1>404</h1>
</div>

    <p>sorry it seems that this page is now extists...</p>
</body>
</html>