<title>authenticate page🐛</title>


{% if in_pass %}
<li>{{in_pass}}</li>
{% endif%}


<h3>register here</h3>
<form action="" method="POST">
    {% csrf_token %}
    {{userinfoo.username.label_tag}}
    {{userinfoo.username}}
    <br>
    {{userinfoo.password.label_tag}}
    {{userinfoo.password}}
    <br>    
<input type="submit" value="ok">
</form>

<h3>lost your pass? or want to secure more your pass</h3>
<a class = "btn" href="{% url "chat:password_reset" %}">password reset</a>


<HR></HR> 
